<div class="general-block-decorator">
    <div class="title">
        <p>{intl d="mailjet.bo.default" l="Mailjet"}</p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- Tab menu -->
            <ul id="tabbed-menu" class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#mailjet-config">{intl d="mailjet.bo.default" l="Configure mailjet"}</a>
                </li>
                <li class="{if $tab eq "1"}active{/if}">
                    <a data-toggle="tab" href="#mailjet-contacts-lists">{intl d="mailjet.bo.default" l="Contacts lists"}</a>
                </li>
            </ul>

            <div class="tab-content">

                <div id="mailjet-config" class="tab-pane active form-container">
                    {include "mailjet-configuration-default.html"}
                </div>

                <div id="mailjet-contacts-lists" class="tab-pane {if $tab eq 1}active{/if} form-container">
                    {include "mailjet-configuration-contacts-lists.html"}
                </div>
            </div>
        </div>
    </div>
</div>
